{%extends "layout.html"%}
{%block head%}

<header>
  <div class = "row">
    <div class = "col-md">
      <a href="/">Home</a>
    </div>
    <div style="background-color:#d46013;" class = "col-md">
      <a href="/apply">Apply</a>
    </div>
    <div class = "col-md">
      <a href="/status">Status</a>
    </div>
    <div class = "col-md">
      <a href="/logout">logout</a>
    </div>
</header>

{%endblock%}

{%block body%}
<div class="">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{count}} Jobs found</th>
        <th scope="col">title</th>
        <th scope="col">deadline</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      {%for row in data%}
      <tr>
        <td>{{row.id}}</td>
        <td>{{row.title}}</td>
        <td>{{row.deadline}}</td>
        <td>{{row.description}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

</div>

<div>
<form action="/process" method = "post">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name = "email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="title">Job (You can reapply or change details by selecting same job)</label>
    <select class="form-control" id="title" name = "title">
      {%for row in data%}
        <option >{{row.title}}</option>
      {%endfor%}
    </select>
  </div>
  <div class="form-group">
    <label for="description">Why about you makes you ideal for this job?</label>
    <textarea class="form-control" id="description" name = "description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit Your application</button>
</form>
</div>






{%endblock%}
