{%extends "layout.html"%}
{%block head%}

<header>
  <div class = "row">
    <div style="background-color:#d46013;" class = "col-md">
      <a href="#">Home</a>
    </div>
    <div class = "col-md">
      <a href="/about">about</a>
    </div>
    <div class = "col-md">
      <a href="/perk">perk</a>
    </div>
    <div class = "col-md">
      <a href="/jobs">jobs</a>
    </div>
    <div class = "col-md">
      <a href="/apply">apply</a>
    </div>
  </div>
</header>

{%endblock%}
{%block body%}
  <h1 class="message">Welcome to RFF, Here the journey begins!</h1>
  <div style="margin:60px;" class="bs-example">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam enim nulla, cursus eget mauris ac, scelerisque commodo eros. Proin varius lacus et interdum faucibus. Cras ut leo at odio euismod rhoncus sed in elit. Donec ex dui, elementum et nisi tempus, auctor luctus mauris. Mauris ac massa sem. Morbi dapibus diam eu urna pulvinar, quis dictum nibh efficitur. Phasellus nibh erat, tempor quis posuere non, malesuada a libero. Fusce et mi lorem. Donec nec quam efficitur, condimentum nunc in, lobortis augue. Sed quis congue tortor. Duis semper sollicitudin iaculis. Maecenas tincidunt sed erat id vulputate. In congue mi at massa dignissim, id sodales tortor egestas.</p>
  </div>

{%endblock%}
